@charset "utf-8";
*{margin: 0;padding: 0; color: #444; box-sizing: border-box;}
ul, li {list-style: none;}
a, p, span, div {text-decoration: none; color:inherit;font-family: 'SLEIGothicTTF';}
h1, h2, h3, h4, h5,h6{font-family: 'Recipekorea';}
@font-face {
  font-family: 'Recipekorea';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SLEIGothicTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.clear::after, .clear::before{content: ""; clear: both; display: block;}
